@import url(https://fonts.googleapis.com/earlyaccess/jejugothic.css);
@import url(https://fonts.googleapis.com/earlyaccess/jejumyeongjo.css);
@import url(https://fonts.googleapis.com/css?family=Raleway:200,500,700,800);

*, *:after, *:before { -webkit-box-sizing: border-box; box-sizing: border-box; }

body, div {
    background: #000 top center fixed no-repeat;
    font-family: 'Jeju Myeongjo', serif;
    font-size: 12pt;
    color: #999;
    border: 0;
    padding: 0;
    line-height: 140%;
}

div { background: none; }

.problem {
    width: 320px;
    background-color: #333;
    margin: 30px auto;
    text-align: left;
    padding: 15px;
    border-radius: 25px;
}

#vm-container {
    width: 600px;
    height: 447px;
    background: url('../img/vendingmachine.gif') no-repeat;
    margin: 30px auto;
}

#vm-btn-container {
    width: 196px;
    height: 171px;
    opacity: 0.6;
    position: relative;
    top: 44px;
    left: 42px;
    background: transparent;
}

.box {
    width: 42px;
    height: 36px;
    display: inline-block;
    margin: 12px 8px 7px 10px;
    background: transparent;
}

input.vm-btn {
    background: white;
    width: 100%;
    height: 36px;
    border:1px solid red;
    cursor:pointer;
    -webkit-border-radius: 0;
    border-radius: 0;
    background: transparent;
}

input.vm-btn:active {
    background: #ff4e4e;
}

.answerBox {
    width: 100%;
    text-align: center;
}

.left, .right {
    display: inline-block;
    margin: 0 10px;
}

h1 {
    width: 70%;
    margin: 70px auto 50px;
    font-size: 24pt;
    font-family: 'Jeju Gothic', serif;
    color: #AA0000;
    text-align: right;
}

h2 {
    font-size: 10pt;
    color: #000;
}

h3 {
    font-size: 8pt;
    color: #333;
    text-align: right;
}

div.container {
    width:85%;
    margin: 0 auto;
    text-align: center;
}

div.random-box {
    width: 10px;
    height: 10px;
}

div.keyBox {
    width: 100px;
    height: 67px;
    position: absolute;
    top: 30px;
    left: 30px;
    overflow: visible;
}

div.credit {
    width: 85%;
    height: 20px;
    margin: 0 auto;
}

.selectCN {
    width: 200px;
    height: 80px;
    font-family: 'Jeju Gothic', serif;
    color: #aaaaaa;
    background: #AA0000;
    border: none;
    margin: 20px;
    display: inline-block;
}

.selectCN:hover {
    opacity: 0.7;
 }

img.figure {
    width: 60%;
}

ul {
    text-align: left;
    width: 70%;
    margin: 50px auto 50px;
}

li {
    margin-bottom: 15px;
}


a {
    color: #999;
    text-decoration: none;
    outline: none;
}

a:hover, a:focus {
    color: #666;
}

.content {
    font-size: 150%;
    padding: 1em 0;
}

.content h2 {
    margin: 0 0 2em;
    opacity: 0.1;
}

.content p {
    margin: 0.5em 0;
    padding: 5em 0 0 0;
    font-size: 0.65em;
    text-align: center;
}

body .nomargin-bottom {
    margin-bottom: 0;
}

@media screen and (max-width: 50em) {
    .codrops-header {
        padding: 3em 10% 4em;
    }
}

@media screen and (max-width: 40em) {
    .codrops-header h1 {
        font-size: 2.8em;
    }
}

#drag-1, #btn-box {
    width: 300px;
    height: 207px;
    position: absolute;
    top: 120px;
    left: calc(50% - 150px);
    background: url('../img/bicycle.gif') no-repeat;
    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
    z-index: 1000;
}

#btn-box {
    background-image: none;
}

#drag-me::before {
    content: "#" attr(id);
    font-weight: bold;
}